body {background-color:black;font-family:Arial, Helvetica, sans-serif;color:white}
h1{color:grey;font-family:Verdana, Geneva, Tahoma, sans-serif}
.mandiv{background-color:white;color:black;width: 300px;padding: 20px;border-radius: 25px;margin: auto; text-align: left;}
.highlight{background-color: yellow;}
.button{background-color: gold;}
